<div class="row">
    <div class="col-lg-10 p-4">
  <mat-drawer-container >


    <div class="Cart-Container">
        <div class="Header">
            <h3 class="Heading">Shopping Cart</h3>
            <h5 class="Action">Remove all</h5>
            </div>
            <div class="Cart-Items">
                <div class="image-box">
                <img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/page/category/brand-compare/module/dell-gen-laptops-inspiron-in5510nt-800x550.png?fmt=png-alpha&wid=800&hei=550" height="140px"  />
                </div>
                <div class="about">
                <h1 class="title">Dell Inspiron</h1>
                <h3 class="subtitle">Id {{product.id}}</h3>
                <img src="images/veg.png" height="30px" />
                </div>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                    </div>
                    <div class="prices">
                        <div class="amount">$2.99</div>
                        <div class="save"><u>Save for later</u></div>
                        <div class="remove"><u>Remove</u></div>
                        </div>
                </div>

        
                    <hr> 
 <div class="checkout">
 <div class="total">
 <div>
 <div class="Subtotal">Sub-Total</div>
 <div class="items">2 items</div>
 </div>
 <div class="total-amount">$6.18</div>
 </div>
 <button class="button">Checkout</button>
 </div>
       
 </div>
 
</mat-drawer-container>
</div>
</div>